<h1>Welcome to Blabber</h1>
<p>Find me in app/views/site/index.html.erb</p>

<%= Time.now %>
<p><%= 1 + 1 %></p>

<% 'HELLO?' %>
<%= link_to('About Us', about_path) %>

<% @foods.each do |food| %>
  <% if food == 'cat' %>
    <p>Wait, <%= food %> is not a food..</p>
  <% else %>
    <p>Eating <%= food %> is yummy!</p>
  <% end %>
<% end %>